.amount{
    height: 6em;
}

.tab {
    padding-left:2em;
}

.button{
    width: 200px;
    display: inline-block;
    margin-bottom: 5px; 
}

.selectline{
    display: inline-block;
}

.buttonbis{
   margin-left: 15px;
}

