<div *ngIf="!customerChoice" class="card-body">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
    <div class="form-group col-6">
      <div>
        <div>
        <label class="h3">Montant désiré :</label><br>
        <span class="selectline">
        <input class="form-control" type="number" (keydown.enter)="$event.preventDefault()" formControlName="amount" [(ngModel)]="amount" class="amount"/>
        <span button>
          <button class="btn btn-primary button" *ngIf="cardsFloor" (click)="changeAmount(cardsFloor)">Montant précédent : {{cardsFloor}}</button>
        <button class="btn btn-primary button" *ngIf="cardsCeil" (click)="changeAmount(cardsCeil)">Montant suivant : {{cardsCeil}}</button>
      </span>
      </span>
        </div>
      </div>
      <div *ngIf="submitted && !reasigned">
          <div *ngIf="a.amount.errors"> Veuillez saisir un entier positif !</div>
      </div>
      <div *ngIf="reasigned && !submitted">
          <span>Montant impossible la valeur la plus proche a été réassigné !</span>
      </div>
    </div>
    <div>
      <br>
      <button class="btn btn-primary buttonbis" type="submit" (ngSubmit)="onSubmit()">VALIDER</button>
    </div>
    <div *ngIf="cardsEqual">
      <br>
      <span class="h3">Votre montant est composé des cartes suivantes :</span>
      <div *ngFor="let card of cardsEqual"><br>
        <div class="tab">- {{card}} €</div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="customerChoice">
  <span>le montant choisis est impossible souhaitez vous?</span>
  <button class="btn btn-primary" *ngIf="nextValue" (click)="changeAmount(nextValue)">{{nextValue}}</button>
  <button class="btn btn-primary" (click)="changeAmount()">Non</button>
</div>

